<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/headermenu.css' />
    <div id="header">
<table>
  <tr>
<th> こんにちは</th><th> よろしく</th>
<th> お願いします</th>
</tr>
</table>

    </div>
  </head>
  <body>
  </body>
</html>
