<!DOCTYPE html>
<html>
  <head>
    <title>unko</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    headermenu
    <input type=text value=aiueo>
  </body>
</html>
