<!DOCTYPE html>
<html>
  <head>
    <title>こんにちは！</title>
    <img src="https://majandofu.com/wp-content/uploads/2014/09/pin1-66-90-l.png">
    <% var x= "20" ;%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>チンチン！</h1>
    <p>Welcome to チンチン</p>
    <p><%= x %></p>
    aiueo
    <input type=text value=aiueo>
    <a href=/test>次のページ</a>
    <script>
      document.write("fasiuro");
      });



    </script>
    <table border=1>
      <tr>
      <th>年齢</th>
      <th>名前</th>
    </tr>
    <% for(var i=0;i<users.length;i++){%>
      <tr>
      <td><%=users[i].id %></td>
      <td><%=users[i].name %></td>
<%}%>
<tr>
    </table>
  <form method="post" action="/">
    <input type=text name="name" action="/controller/controller.js">
    <button type="submit">登録</button>
  </form>
  </body>
</html>
