<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% var x= "20" ;%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= x %></p>
    aiueo
    <input type=text value=aiueo>
    <script>
      document.write("fasiuro");

      var express = require('express');
      var router = express.Router();

      /* GET home page. */
      router.get('/', function(req, res, next) {
        res.render('index', { title: 'tinko' });
      });

      module.exports = router;



    </script>
  </body>
</html>
