body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board{
display:inline-block;
border:solid;
width:50px;
height:80px;
background: green;
}
